html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  display: flex;
  padding: .6em;
  background-color: #e2e2e2;
  font-size: 1.125rem;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 2rem;
  order: -1;
  margin-right: .75em;
}

header h1 {
  padding: 0;
}

header p {
  font-size: 1.125rem;
  margin-left: auto;
  margin-right: auto;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0 0.6em;
  padding: 0;
}

nav a {
  text-decoration: none;
  padding: 1rem;
  color: #0074d9;
}

body {
  margin: 0;
  border-color: #fff;
}

a:hover {
  color: #fff;
}
